.logo-img {
  width: 125px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
  transform: translateX(1000%);
  /* Logo automobile che scorre verso destra*/
}

.siteName {
  width: 200px;
  height: 40px;
}