.navbar {
  position: sticky;
  top: 0;
  background-color: #fff; /* Colore di sfondo della navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  z-index: 10;
}

.logo-img {
  width: 125px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
  transform: translateX(1000%);
  /* Logo automobile che scorre verso destra*/
}

.siteName {
  width: 200px;
  height: 40px;
}